<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Nhận diện số điện thoại</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1 class="mt-5">Nhận diện số điện thoại qua ảnh</h1>
      <form method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="file">Tải ảnh lên:</label>
          <input type="file" class="form-control-file" id="file" name="file">
        </div>
        <button type="submit" class="btn btn-primary">Tải lên</button>
      </form>
      {% if phone_number %}
      <h2 class="mt-5">Số điện thoại là: {{ phone_number }}</h2>
      <img src="{{ url_for('static', filename='uploads/' + image_path) }}" alt="Uploaded Image" class="img-thumbnail">
      {% endif %}
    </div>
  </body>
</html>
